/*-------- TYPO -------*/



/*-------- /TYPO -------*/
.container {
    max-width: 71.25rem;
}

.hero .star {
    text-align: center;
    width: 2.5rem;
    background-color: #1abc9c;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -125%);
}
.hero .star i {
    color: white;
}
.hero hr {
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}
.hero .col-12 {
    color: white;
    text-align: center;
}
.ms-header-bg {
    background-color: #2c3e50;
}
.ms-h6 {
    color: white;
}
.ms-h4 {
    color: #333333;
    text-align: center;
}
.ms-h1 {
    color: white;
    text-align: center;
}
.ms-hero-bg {
    background-color: #1abc9c;
}
.portfolio img {
    border-radius: 10px;
    display: block;
    width: 100%;
}
.portfolio .star {
    text-align: center;
    width: 2.5rem;
    background-color: #fff;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -10%);
    bottom: -10px;
}
.portfolio hr {
    border: 2px solid black;
    border-radius: 20px;
}
.about .ms-h4 {
    color: white;
    text-align: center;
}
.about{
    background-color: #1abc9c;
}
.about .star {
    text-align: center;
    width: 2.5rem;
    background-color: #1abc9c;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -125%);
}
.about .star i {
    color: white;
}
.about hr {
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}
.contact-me .col-8:not(.form-floating, :last-child) {
    border-bottom: 1px solid #cccccc;
}

.contact-me .ms-h4 {
    text-align: center;
}
.ms-footer-top {
    color: white;
    background-color: #3a546d;
}
.ms-footer-bottom {
    background-color: #2c3e50;
    color: white;
}
footer h3 {
    text-align: center;
}
footer h5 {
    text-align: center;
}
.ms-footer-top .col-1 {
    text-align: center;
}
.ms-nav-bar {
    displa
}
.list-style-none {
    list-style: none;
}
ul {
    color: white;
    width: 50%;
}
nav span {
    color: white;
}
a span {
    font-size: small;
}
.about {
    color: white;
}
.ms-footer-top h3 {
    font-size: medium;
}
.ms-footer-top .col-3 > *{
    text-align:center;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
}
.ms-footer-bottom h5 {
    font-size: small;
}
